@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    height: 100vh;
    width: 100%;
    background-position:  center;
    background-size: auto;
    position: relative;
}
body {
    background-color: #F0E68D;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo {
    font-size: 50px;
    font-family: Righteous;
    color: whitesmoke;
    padding: 0 100px;
    line-height: 80px;
}
nav {
    height: 80px;
    width: 100%;
    background: maroon;
    top: 0;
    position: sticky;
}
body {
    background-color:#f0e68c;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    color: #363024;
    font-size: 40px;
    font-family: Righteous;
    margin: 40px 50px;
    text-align: center;
    margin-top: 50px;
    border-bottom: 8px solid #363024 ;
}
.trends .box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 70%;
}
.trends .box-container .box{
    height: 380px;
    width: 380px;
    background-color: ivory;
    border-radius: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 .5rem #333;
}
.box .button:hover {
    transform: scale(0);
}

.trends .box-container img {
    height: 380px;
    width: 380px;
    object-fit: cover;
}
.info {
    color: ivory;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51,51,51,.6);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transform: scale(0);
}
.info h3 {
    font-family: Righteous;
    font-size: 30px;
    color:ivory;
    text-transform: uppercase;
}
.info p {
    font-family: Arvo;
    font-size: 22px;
    border-bottom: 4px solid crimson;
    border-top: 4px solid crimson;
    margin: 40px 50px;
}
.info a {
    color: yellow;
    font-size: 22px;
    margin: 40px 50px;
}
.box-container:hover .box:hover .info{
    transform: scale(1);
}