@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #F0E68D;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    height: 80px;
    width: 100%;
    background: maroon;
    top: 0;
    position: sticky;
}
label.logo {
    font-size: 50px;
    font-family: Righteous;
    color: whitesmoke;
    padding: 0 100px;
    line-height: 80px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    font-family: Righteous;
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.secondcon h2 {
    padding: 0 50px;
    font-size: 90px;
    font-weight: 100;
    margin-left: 120px;
    margin-bottom: 15px;
    margin-top: 80px;
    color: #363024;
    font-family: Righteous;
}
.secondcon p {
    font-size: 20px;
    font-weight: 100;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    text-align: justify;
    color: #4b4a3c;
    font-family: inherit;
    font-family:  Arvo;
}
.secondcon h3 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    text-align: justify;
    color: #4b4a3c;
    font-family: inherit;
    font-family: Arvo;
}
.secondcon img {
    border: 10px solid #363024;
    border-radius: 10px;
    float: right;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.achieve h2 {
    text-align: center;
    padding: 0 70px;
    font-size: 100px;
    font-weight: 100;
    margin: 40px 80px;
    margin-bottom: 15px;
    margin-top: 150px;
    color: #363024;
    font-family: Righteous;
    border-top: 8px solid #363024;
}
.table-box {
    margin: 50px auto;
}
.table-row {
    display: table;
    width: 60%;
    margin: 10px auto;
    font-family: Arvo;
    background: transparent;
    padding: 12px 0;
    font-size: 14px;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
}
.table-head {
    background: maroon;
    box-shadow: none;
}
.table-head p {
    font-family: Arvo;
    color: whitesmoke;
    font-weight: 600;
    font-size: 30px;
}
.table-cell {
    font-family: Righteous;
    font-size: 20px;
    color: #363024;
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid;
    vertical-align: middle;
}
.table-head .table-cell {
    border-right: none;
}
.last-cell {
    border-right: none;
}
.button-sec {
    text-align: center;
}
.button-sec h2 {
    padding: 0 70px;
    font-size: 30px;
    font-weight: 100;
    margin: 40px 80px;
    margin-bottom: 15px;
    margin-top: 150px;
    color: #363024;
    font-family: Righteous;
    border-top: 8px solid #363024;
}
.button {
    background-color: maroon;
    padding: 20px 50px;
    display: inline-block;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 150px;
}
.button a {
    font-family: Righteous;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
}
a:active, a:hover {
    border-color: whitesmoke;
    color: goldenrod;
    transition: .5s;
}
footer {
    background: maroon;
    height: auto;
    width: 100%;
    font-family: Righteous;
    padding-top: 40px;
    color: ivory;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    font-family: Arvo;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.socials a {
    text-decoration: none;
    color: ivory;
}
.socials a i {
    font-size: 40px;
    transition: color .4 ease;
}
.socials a:hover {
    color: goldenrod;
}
.footer-bottom {
    background: rgb(104, 3, 3);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}