* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'Black Han Sans';
    src: url(img&font/BlackHanSans-Regular.ttf);
}
.container{
    background-image: url(img&font/Webpage_background.jpg);
    height: 100vh;
    width: 100%;
    background-position:  center;
    background-size: auto;
    position: relative;
}
body {
    background-color: rgb(238, 105, 57);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    height: 80px;
    width: 100%;
    background: #191970;
    top: 0;
    position: sticky;
}
label.logo {
    font-size: 50px;
    font-family: 'Black Han Sans';
    color: ivory;
    padding: 0 100px;
    line-height: 80px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    font-family: 'Black Han Sans';
    color: ivory;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.content h1 {
    padding: 0 100px;
    font-size: 150px;
    font-weight: 100;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 150px;
    color: navy;
    font-family: 'Black Han Sans';
}
.content p {
    font-size: 50px;
    font-weight: 100;
    margin-top: 15px;
    margin-left: 260px;
    margin-bottom: 15px;
    color: ivory;
    font-family: inherit;
    font-family: 'Black Han Sans';
}
.button {
    background-color: #191970;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-left: 260px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button a {
    font-family: 'Black Han Sans';
    color: ivory;
    text-transform: uppercase;
    font-size: 20px;
}
a:active, a:hover {
    border-color: ivory;
    color: coral;
    transition: .5s;
}
.secondcon h2 {
    padding: 0 100px;
    font-size: 80px;
    font-weight: 100;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 160px;
    color: navy;
    font-family: 'Black Han Sans';
}
.secondcon p {
    font-size: 20px;
    font-weight: 100;
    margin-left: 120px;
    margin-top: 30px;
    margin-right: 20px;
    width: 45%;
    text-align: justify;
    color: ivory;
    font-family: inherit;
    font-family: 'Black Han Sans';
}
.secondcon img {
    border: 10px solid navy;
    border-radius: 10px;
    float: right;
    margin-right: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}
footer {
    background: #191970;
    height: auto;
    width: 100%;
    font-family: 'Black Han Sans';
    padding-top: 40px;
    color: ivory;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.socials a {
    text-decoration: none;
    color: ivory;
}
.socials a i {
    font-size: 40px;
    transition: color .4 ease;
}
.socials a:hover {
    color: coral;
}
.footer-bottom {
    background: #111158;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}