@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    height: 100vh;
    width: 100%;
    background-position:  center;
    background-size: auto;
    position: relative;
}
body {
    background-color: #F0E68D;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    height: 80px;
    width: 100%;
    background: maroon;
    top: 0;
    position: sticky;
}
label.logo {
    font-size: 50px;
    font-family: Righteous;
    color: whitesmoke;
    padding: 0 100px;
    line-height: 80px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    font-family: Righteous;
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.content h1 {
    padding: 0 100px;
    font-size: 140px;
    font-weight: 100;
    margin-left: 80px;
    margin-bottom: 15px;
    margin-top: 150px;
    color: #363024;
    font-family: Righteous;
}
.content p {
    font-size: 45px;
    font-weight: 100;
    margin-top: 15px;
    margin-left: 190px;
    margin-bottom: 15px;
    color: #4b4a3c;
    font-family: inherit;
    font-family: Arvo;
}
.content img {
    border-radius: 10px;
    float: right;
    margin-right: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button {
    background-color: maroon;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-left: 190px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button a {
    font-family: Righteous;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
}
a:active, a:hover {
    border-color: whitesmoke;
    color: goldenrod;
    transition: .5s;
}