@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'Black Han Sans';
    src: url(img&font/BlackHanSans-Regular.ttf);
}
.container{
    height: 100vh;
    width: 100%;
    background-position:  center;
    background-size: auto;
    position: relative;
}
body {
    background-color: #F0E68D;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    height: 80px;
    width: 100%;
    background: maroon;
    top: 0;
    position: sticky;
}
label.logo {
    font-size: 50px;
    font-family: Righteous;
    color: whitesmoke;
    padding: 0 100px;
    line-height: 80px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    font-family: Righteous;
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a:active, a:hover {
    border-color: whitesmoke;
    color: goldenrod;
    transition: .5s;
}
.regform {
    font-family: Righteous;
    letter-spacing: 2px;
    width: 700px;
    background-color: ivory;
    margin: auto;
    margin-top: 100px;
    color: black;
    padding: 20px 0px 20px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main {
    font-family: Arvo;
    background-color:rgb(243, 243, 243);
    width:700px;
    margin: auto;
}
.main form {
    padding:4px;
}
#name {
    width:100%;
    height: 70px;
}
.name {
    margin-left: 25px;
    margin-top: 15px;
    width: 125px;
    color: black;
    font-size:17px;
    font-weight: 700;
}
.firstname {
    position: relative;
    left: 130px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.lastname {
    position: relative;
    left: 180px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: black
}
.address {
    position: relative;
    left: 130px;
    top: -35px;
    line-height: 40px;
    width: 493px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.email {
    position: relative;
    left: 130px;
    top: -35px;
    line-height: 40px;
    width: 493px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.date {
    position: relative;
    left: 130px;
    top: -35px;
    line-height: 40px;
    width: 493px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.code {
    position: relative;
    left: 130px;
    top: -35px;
    line-height: 40px;
    width: 45px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.number {
    position: relative;
    left: 150px;
    top: -35px;
    line-height: 40px;
    width: 375px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.area-code {
    position: relative;
    color: black;
    text-transform: capitalize;
    font-size: 18px;
    left:40px;
    top: 2px;
}
.phone {
    position: relative;
    color: black;
    text-transform: capitalize;
    font-size: 18px;
    left: -250px;
    top: 0px;
}
.option {
    position: relative;
    left: 140px;
    top: -35px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline:none;
    overflow: hidden;
}
.option option {
    font-size: 18px;
}
button {
    background-color: maroon;
    display: block;
    margin-left: 210px;  
    margin-bottom: 20px;   
    text-align: center;
    border: 2px solid ivory;
    padding: 14px 110px;
    outline: none;
    color: black;
    cursor: pointer;
    transition: 0.25px;
}
button:hover {
    background-color: #F0E68D;
}