* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'Black Han Sans';
    src: url(img&font/BlackHanSans-Regular.ttf);
}
.container {
    background-image: url(img&font/Webpage_background.jpg);
    height: 100vh;
    width: 100%;
    background-position:  center;
    background-size: auto;
    position: relative;
}
.logo {
    font-size: 50px;
    font-family: 'Black Han Sans';
    color: ivory;
    padding: 0 100px;
    line-height: 80px;
}
header {
    height: 80px;
    width: 100%;
    background: #191970;
    top: 0;
    position: sticky;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    font-family: 'Black Han Sans';
    color: ivory;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
body {
    background-color:#f0e68c;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.burgerlogo {
    color:#2b3e4efb;
    font-family: 'Black Han Sans';
}
.burgerlogo img{
    float: right;
    height: 398px;
    width: 398px;
    margin-top: 20px;
    margin-right: 350px;
}
.burgerlogo h1 {
    font-size: 180px;
    font-weight: 100;
    margin-left: 350px;
    margin-top: 160px;
}
.burgerlogo h3 {
    font-size: 210px;
    font-weight: 100;
    margin-left: 350px;
}
.button {
    background-color: #2b3e4efb;
    padding: 35px 65px;
    align-items: center;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-left: 800px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button a {
    font-family: 'Black Han Sans';
    color: ivory;
    text-transform: uppercase;
    font-size: 30px;
}
a:active, a:hover {
    border-color: ivory;
    color: coral;
    transition: .5s;
}
label.logo {
    font-size: 50px;
    font-family: 'Black Han Sans';
    color: ivory;
    padding: 0 100px;
    line-height: 80px;
}
.heading {
    color: #2b3e4efb;
    font-size: 100px;
    font-family: 'Black Han Sans';
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}
.subhead {
    color: #2b3e4efb;
    font-size: 70px;
    font-family: 'Black Han Sans';
    margin: 40px 50px;
    text-align: center;
    margin-top: 150px;
    border-bottom: 8px solid #2b3e4efb ;
}
.burger .box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}
.burger .box-container .box{
    height: 500px;
    width: 500px;
    background-color: ivory;
    border-radius: 1px;
    margin-top: 30px;
    margin-bottom: 60px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 .5rem #333;
}
.box .button:hover {
    transform: scale(0);
}

.burger .box-container img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.info {
    color: ivory;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51,51,51,.6);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transform: scale(0);
}
.box-container:hover .box:hover .info{
    transform: scale(1);
}
.info h3 {
    font-size: 40px;
    color:#f0e68c;
    text-transform: uppercase;
}
.info p {
    font-size: 25px;
    border-bottom: 4px solid crimson;
    border-top: 4px solid crimson;
    margin: 40px 50px;
}
.drinks .box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}
.drinks .box-container .box{
    height: 500px;
    width: 500px;
    background-color: ivory;
    border-radius: 1px;
    margin-top: 60px;
    margin-bottom: 60px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 .5rem #333;
}
footer {
    background: #191970;
    height: auto;
    width: 100vw;
    font-family: 'Black Han Sans';
    padding-top: 40px;
    color: ivory;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.socials a {
    text-decoration: none;
    color: ivory;
}
.socials a i {
    font-size: 40px;
    transition: color .4 ease;
}
.socials a:hover {
    color: coral;
}
.footer-bottom {
    background: #111158;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}