@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    height: 100vh;
    width: 100%;
    background-position:  center;
    background-size: auto;
    position: relative;
}
body {
    background-color: #F0E68D;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    height: 80px;
    width: 100%;
    background: maroon;
    top: 0;
    position: sticky;
}
label.logo {
    font-size: 50px;
    font-family: Righteous;
    color: whitesmoke;
    padding: 0 100px;
    line-height: 80px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    font-family: Righteous;
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a:active, a:hover {
    border-color: whitesmoke;
    color: goldenrod;
    transition: .5s;
}
header {
    color: #363024;
    font-size: 40px;
    font-family: Righteous;
    margin: 40px 50px;
    text-align: center;
    margin-top: 50px;
    border-bottom: 8px solid #363024 ;
}
.trends .box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 80%;
}
.trends .box-container .box{
    height: 250px;
    width: 250px;
    background-color: ivory;
    border-radius: 1px;
    margin-top: 30px;
    margin-bottom: 60px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 .5rem #363024;
}
.trends .box-container img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.info {
    color: #363024;
    text-align: center;
    font-family: Arvo;
    font-size: 24px;
    font-weight: 300;
}